body {
   background-color: #d1e5c8;
   font-family: 'Fjalla One', sans-serif;
   color: #3b4806;
}
ul {
   padding-left: 30px;
}
p{
   margin: 5px;
   text-wrap: normal;
}
label {
   font-size: 20px;
}
h1 {
   text-align: center;
}
textarea{
   resize: none;
}