body {
   background-color: #d1e5c8;
   font-family: 'Fjalla One', sans-serif;
   color: #3b4806;
}
ul {
   padding-left: 30px;
}
p{
   margin: 5px;
   text-wrap: normal;
}
label {
   font-size: 20px;
}
h1 {
   text-align: center;
}
textarea{
   resize: none;
}
.addform{
   width: 300px;
   font-size: 28px;
}
.tasks{
   display: flex;
   list-style-type: none;
   margin: 0px;
   align-items: center;

   text-wrap: normal;
}
.cards{
   list-style-type: none;
   font-size: 14px;
   width: 96%;
   background-color: rgb(111, 224, 196);
   border-radius: 5px;
   padding-top: 5px;
   padding-bottom: 5px;
   margin: 5px;
}
#cols {
   display: flex;
   flex-direction: column;
   gap: 15px;
   align-items: center;
}
.cols__content {
   display: flex;
   gap: 15px;
   max-width: 2000px;
   width: 100%;
}
.col {
   width: 25%;
   height: 850px;
   text-align: center;
   background-color: rgb(0, 187, 125);
}
.card-title {
   font-size: 18px;
   font-weight: 700;
}

.modal-content {
   flex-direction: column;
   background-color: #fff;
   border: 1px solid rgba(0,0,0,.2);
   border-radius: .3rem;
}

